<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <!-- novalidate, damit der Browser nicht validiert, sondern das Bootstrap überlässt -->
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">You must enter a title for the campground</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">You must enter a location</div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                    <label class="form-label" for="price" id="price-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">€</span>
                        <input type="text" class="form-control" id="price" name="campground[price]" aria-label="Price" aria-describedby="price-label"  value="<%= campground.price %>" required>
                        <div class="valid-feedback">Looks good</div>
                        <div class="invalid-feedback">You must enter a price per night (greater or equal to zero)</div>
                        </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="textbox" id="description" name="campground[description]" required><%= campground.description %></textarea>
                    <div class="valid-feedback">Looks good</div>
                    <div class="invalid-feedback">You must enter a description</div>
                </div>
                <div class="input-group custom-file-button mb-3">
                    <label class="input-group-text" for="inputGroupFile">Add more image(s)</label>
                    <input type="file" class="form-control" id="inputGroupFile" name="image" multiple>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
        </div>
    </div>
       
