<% layout('layouts/boilerplate') %>
<div id="map"></div>

<div class="container">
<% if (typeof scope !== 'undefined' && scope === 'my') { %>
    <h1>My Campgrounds</h1>
<% } else { %>
    <h1>All Campgrounds</h1>
<% } %>
    <div>
        <a href="/campgrounds/new" class=" btn btn-info mb-3">Add Campground</a>
    </div>
    <% for (let campground of campgrounds){%>
        <div class="card mb-3 p-2 ps-3 pe-3 card-campground-bg-color">
            <div class="row">
                <div class="col-md-4 p-2">
                    <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description %></p>
                        <p class="card-text clearfix">
                            <span class="float-start"><small class="text-muted"><%= campground.location %></small></span>
                            <span class="float-end"><small class="text-muted"><%= campground.images.length %> picture<%= campground.images.length === 1 ? '' : 's' %> </small></span>
                        </p>
                        
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Details of <strong><%= campground.title %></strong></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>


<script>
    const campgrounds = <%- JSON.stringify(campgrounds) %>
  </script>
  
  <script src="/javascripts/clusterMap.js"></script>
