<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/stars.css">
<!-- wenn man es nur an einer Stelle verwendet, macht es mehr Sinn es direkt in dem betreffenden File 
zu verwenden - und nicht in die boilerplate zu integrieren (alternativ könnte man mehrere boilerplates machen)
auch wenn es damit im Body und nicht mehr im HEAD steht - technisch erlaubt -->

<div class="row">
    <div class="col-6">

      <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% campground.images.forEach((image,i) => { %>
            <div class="carousel-item <%= i===0 ? 'active' : '' %>">
              <img class="d-block w-100" src="<%= image.url %>" class="card-img-top" alt="">
            </div>
          <% }) %>
        </div>
        <% if (campground.images.length > 1) { %>
          <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        <% } %>
      </div>

        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item">€ <%= campground.price %>/night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-body-secondary">
                <a href="/campgrounds" class="card-link">All Campgrounds</a>
            </div>
          </div>
    </div>
    <div class="col-6">
      <div id="map"></div>
      <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="validated-form mb-3 reviewForm" novalidate>
        <h2>Leave a Review</h2>
        <div class="mb-3">
          <p id="status" class="d-none my-0 text-danger">Please Select Rating</p>
          <fieldset class="starability-basic" id="reviewRating">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <script>
          const reviewForm = document.querySelector(".reviewForm");
          const defaultStarInput = document.querySelector("input[name='review[rating]']");
          const statusContainer = document.querySelector("#status");
          if(reviewForm) {
            reviewForm.addEventListener("submit", function(e) {
              if(defaultStarInput.checked) {
                statusContainer.classList.remove("d-none");
                  e.preventDefault();
                } else {
                  statusContainer.classList.add("d-none");
                }
              }  
            )
          }          
        </script>
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">You must enter an some text</div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
  <h2>Reviews</h2>
      <% if (campground.reviews.length > 0) {
        for (let r of campground.reviews) { %>
          <div class="card mb-3 card-campground-bg-color">
            <div class="card-body">
              <h6 class="card-title"> <% if ( r.author ) { %> <%= r.author.showname %> <% } else { %>anonymous<% } %></h6>
              <p class="card-subtitle starability-result" data-rating="<%=r.rating%>">
                Rated: <%=r.rating%> stars
              </p>
              <p class="card-text"><%= r.body %></p>
              <% if (currentUser && r.author && r.author.equals(currentUser._id)) { %>
                <form action="/campgrounds/<%= campground._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-danger">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
      <% } 
        } else { %>
        <p>No reviews yet - be the first reviewer for this campground :-)</p>
      <% } %>
    </div>
    </div>

  <script>
    const campground = <%- JSON.stringify(campground) %>
    console.log('campground (aus Javascript):');
    console.dir(campground);
  </script>
  <script src="/javascripts/showPageMap.js"></script>

